In [1]:
# Dict Methods:

In [76]:
a = { 'key1':'value1' , 'key2':'value2' , "key3" : ["value3" ], "key4" : {1:2,2:3} }

In [80]:
print(a.keys()) # dict_keys datatype iterable data type
(type(a.keys())) # dict_keys datatype iterable data type
list()
set()
tuple()

dict_keys(['key1', 'key2', 'key3', 'key4'])

()

In [4]:
a.values() # dict_values datatype iterable data type

dict_values(['value1', 'value2', ['value3'], {1: 2, 2: 3}])

In [5]:
a.items() # dict_items datatype iterable data type
# [ (key1,value1), (key2,value2),(key3,value3)]

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', ['value3']), ('key4', {1: 2, 2: 3})])

In [7]:
# dir(dict)

In [8]:
a = { 'key1':'value1' , 'key2':'value2' , "key3" : ["value3" ], "key4" : {1:2,2:3} }

In [9]:
a.pop('key4')

{1: 2, 2: 3}

In [10]:
a

{'key1': 'value1', 'key2': 'value2', 'key3': ['value3']}

In [11]:
a.update({1: 2, 2: 3})

In [12]:
a

{'key1': 'value1', 'key2': 'value2', 'key3': ['value3'], 1: 2, 2: 3}

In [14]:
# a[3] # key error

In [16]:
# a.get(keyName)
print(a.get(3)) 
# if the key is present it will fetch the value if not it will return None

None

In [18]:
for i in a:
  print('Key ->',i, 'Value ->' ,a[i]) # will be a key

Key -> key1 Value -> value1
Key -> key2 Value -> value2
Key -> key3 Value -> ['value3']
Key -> 1 Value -> 2
Key -> 2 Value -> 3

### FUNCTIONS

In [19]:
# 1. in-built functions
# 2. custom functions
#       1. by using def keyword
#       2. by using lambda keyword

In [25]:
a = [1,2,3,4,5]

# Syntax:
# def functionName(to get the inputs): positional arguments
#   statement

# sum of all elements 

def hello():                      # creating a function
  print('Hello DT8 & DT9')

In [26]:
hello() # calling a funtion

Hello DT8 & DT9

In [27]:
z = 'Magesh'  # global variable
def hello(): 
  print(z)                     # global variable
  print('Hello DT8 & DT9')

hello()

Magesh
Hello DT8 & DT9

In [28]:
def hello(): 
  zz = 'Magesh'  # local variable
  print(zz)                     
  print('Hello',zz)

hello()

print(zz) # error local variable  cannoct be used outside the scope

Magesh
Hello DT8 & DT9

NameError: ignored

In [ ]:
# ways to get input for a function:

# 1. position arguments
# 2. any position arguments -> *variable as a tuple
# 3. keyword argument
# 4. any keyword arguments -> **variable as dict

In [29]:
def hello(za): 
  print(za)                     
  print('Hello',za)

hello() # missing one required positional argument

TypeError: ignored

In [34]:
def hello(za): 
  print(za)                  
  print('Hello',za)

hello('Magesh') # position arguments
hello('Earth')# position arguments
hello('India')# position arguments

Magesh
Hello Magesh
Earth
Hello Earth
India
Hello India

In [38]:
def hello(za,zb,zc): 
  print("za",za)                     
  print("zb",zb)                     
  print("zc",zc)                     

hello(1,2,3) # positional arguments
hello(12,1,30) # positional arguments
# hello(12,1,30,4) # error

za 1
zb 2
zc 3
za 12
zb 1
zc 30

In [50]:
def addtion(z):                    # creating a function
  add = 0
  for i in z:
    add = add + i  # add += i
  print(add)
v = [12,56]
addtion(v)

# 1. add = 0  ; i = 1 ; 1
# 2. add = 1  ; i = 2 ; 3
# 3. add = 3  ; i = 3 ; 6
# 4. add = 6  ; i = 4 ; 10
# 5. add = 10 ; i = 5 ; 15

68

In [43]:
def hello(za,zb,zc): 
  print("za",za)                     
  print("zb",zb)                     
  print("zc",zc)                     

hello(zb=1,zc=3,za=1) # keyword arguments

za 1
zb 1
zc 3

In [49]:
def hello(*args):  # all given arguments for fun args will be in tuple
  print(args)   

hello(1,2,3,4,5,6,2,123,1213,12343)
hello(1,2,3,4)
hello(1,2,3,4,6,3)
hello()

(1, 2, 3, 4, 5, 6, 2, 123, 1213, 12343)
(1, 2, 3, 4)
(1, 2, 3, 4, 6, 3)
()

In [48]:
def hello(**args): # all given arguments for fun args will be in dict
  print(args)      

hello(zb=1,zc=3,za=1)
hello(zb=1)
hello()

{'zb': 1, 'zc': 3, 'za': 1}
{'zb': 1}
{}

In [51]:
def outputfun():
  print(10) # None

In [53]:
outputfun() + 10

10

TypeError: ignored

In [54]:
# 1. if a return is not used in a function that function actual output will be None
# 2. return 10 # should be used only inside a funciton
# 3. once a function return any value that entire function will be terminated.

In [62]:
def outputfun():
  print('beacuse of print',20)
  print('beacuse of print',10)
  print('beacuse of print',1)
  print('beacuse of print',111)
  return 10

In [63]:
outputfun() + 10

beacuse of print 20
beacuse of print 10
beacuse of print 1
beacuse of print 111

20

In [68]:
def outputfun():
  print(56)
  return 'Magesh'
  print('out2')

  if 4 > 5:
    return 3
  return 10 
  print('out3')
  
short = outputfun # decleration of function

print(short() + '45')
print(outputfun() + '45')

56
Magesh45
56
Magesh45

#### LAMBDA:

In [ ]:
# by default it will return the output

In [69]:
lamvar = lambda a,b,c : a*b+c #  lamvar is the lambda fun

In [71]:
lamvar(1,2,3) + 5

10

In [72]:
anything = lambda a,c : a*c
a = 8
c = 9
anything(c,a)

72

### FILTER & MAP

In [73]:
# map;

# syntax:
# map(function_declare , iterable_datatype)

In [74]:
# 1. it takes all the element from iterable_datatype one by one and give to function
# 2. the function output will be stored as data
# 3. output datatype will be an iterator  |  we have to use any iterable method to convert 
# 4. map for manipluation

#  in map length will never get changed

In [82]:
a = [1,2,3]
list(map(lambda a: a*2 , a))

[2, 4, 6]

In [83]:
a = [1,2,3]
list(map(lambda a: a > 1.5 , a))

[False, True, True]

In [85]:
a = [1,2,3]
list(map(lambda a: 'Super' , a))

['Super', 'Super', 'Super']

In [84]:
def funcheck(a):
  return 'Super'
  
for i in [1,2,3]:
  print(funcheck(i))

# Super
# Super
# Super

Super
Super
Super

In [ ]:
# filter;

# syntax:
# filter(function_declare , iterable_datatype)

In [86]:
# 1. it takes all the element from iterable_datatype one by one and give to function
# 2. the function output if the is True then the input ele will be stored as data
# 3. output datatype will be an iterator  |  we have to use any iterable method to convert 
# 4. filter for condition checking

In [87]:
a = [0,1,2,3]
list(filter(lambda a: 'Super' , a))

[0, 1, 2, 3]

In [88]:
a = [0,1,2,3]
list(filter(lambda a: a , a))

[1, 2, 3]

In [90]:
a = [0,1,2,3]
print((list(filter(lambda a: a%2 , a)) ))  # [1,3]
list(map(lambda a: a%2 , a))      # [0,1,0,1]

[1, 3]

[0, 1, 0, 1]

In [89]:
print(0%2)
print(1%2)
print(2%2)
print(3%2)

0
1
0
1