In [1]:
# SPLIT:

# syntax
# str_variable.split('substring')

# output type will be in list
# the substring will not be in the output.
# substring there will be a break where we found this sub string

In [2]:
a = 'atch cricket'
a.split('c')

['at', 'h ', 'ri', 'ket']

In [3]:
a = ['at', 'h ', 'ri', 'ket']
a[3]

'ket'

In [4]:
list() # can convert any iterable datatype to list

[]

In [5]:
a = 'atch cricket'
list(a)

['a', 't', 'c', 'h', ' ', 'c', 'r', 'i', 'c', 'k', 'e', 't']

### LIST METHOD:

In [6]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [17]:
# APPEND:

# it will take only one element
# it will add that element at the end of the list.

a = ['at', 'h ', 'ri', 'ket']
a.append('one')
a.append(15)
a.append(['one',12,3,4,4,6])
print(a)
# ['at', 'h ', 'ri', 'ket', 'one', 15,['one',12,3,4,4,6]]

['at', 'h ', 'ri', 'ket', 'one', 15, ['one', 12, 3, 4, 4, 6]]

In [20]:
# POP:

a = ['one', 12, 3, 4, 4, 6]
# a.pop()         # it will remove the last element
a.pop(2)          # remove the index no element
print(a[4])  
print(a)

6
['one', 12, 4, 4, 6]

In [16]:
# EXTEND:

# it will take only one element
# it will add all the  element one by one at the end of the list.

a = ['at', 'h ', 'ri', 'ket']
a.extend(['one',12,3,4,4,6])
print(a)

['at', 'h ', 'ri', 'ket', 'one', 12, 3, 4, 4, 6]

In [12]:
# COUNT:

# syntax
# a.count(any element)
# it will take only one element
# gives the output of how many times the substring is repeated
# it is case sensitive and check exact datatype

a = ['at', 'h ', 'ri', 'ket','ket','ket',1,2,3,1,1,1,3]
print(a.count('one'))
print(a.count('ket'))
print(a.count('1'))

0
3
0

In [22]:
# JOIN:
# to use join all the elements in a list must be a str

a = ['one','12','3','4','4','6']
'-'.join(a)

'one-12-3-4-4-6'

In [2]:
# sort
# sorted
# reverse
# reversed
# copy

# sum
# max
# min
# insert
# chr 
# ord
# clear

In [24]:
# sort

# syntax:
# list_var.sort()

# 1. by default sort in ascending order
# 2. it will sort the source variable (i.e) list_var

a = [1,21,123,124,341,41,98]
a.sort()
print(a)

[1, 21, 41, 98, 123, 124, 341]

In [29]:
# sorted

# syntax:
# sorted(list_var)

# 1. by default sort in ascending order
# 2. it will sort and it will create a new list
# 3. it will not affect the soure

a = [1,21,123,124,341,41,98]
c = sorted(a)
print(c)
print(a)

[1, 21, 41, 98, 123, 124, 341]
[1, 21, 123, 124, 341, 41, 98]

In [30]:
# reverse

# syntax:
# list_var.reverse()

# 1. it will reverse the input
# 2. it will sort the source variable (i.e) list_var

a = [1,21,123,124,341,41,98]
a.reverse()
print(a)

[98, 41, 341, 124, 123, 21, 1]

In [32]:
# reversed

# syntax:
# reversed(list_var)

# 1. it will reverse the list and give as new output
# 2. it will reverse and it will create a new list
# 3. it will not affect the soure
# 4. output will be in type iterator    |  we have to use list method

a = [1,21,123,124,341,41,98]
c = reversed(a)
print(list(c))
print(a)

[98, 41, 341, 124, 123, 21, 1]
[1, 21, 123, 124, 341, 41, 98]

### CONDITIONS:

In [33]:
# if elif else

In [ ]:
# syntax

# if condition:  # condition = True or False
#   statement
# elif condition:
#   statement
# elif condition:
#   statement
# elif condition:
#   statement
# elif condition:
#   statement
# else:
#   statemennt

# 1. if holds the first priority
# 2. if the condition is True the statemenet of if will be executed
# 3. if the condition is False the statemenet of else will be executed
# 4. for an if-else condition there will be only one output

In [ ]:
# when a condition will be False 

# False. None. 0. empty any data-type

# apart from the above everything will be considired as True

In [36]:
if True:
  print('Hello')

Hello

In [38]:
if False:
  print('Hi')

In [39]:
if False:
  print('Hi')
else:
  print('inside else block')

inside else block

In [40]:
if 45%5:
  print(1)
else:
  print(2)

2

In [41]:
if 45*5:
  print(1)
else:
  print(2)

1

In [42]:
if 'condition':  
  print(1)
elif True:
  print(2)
elif 45< 90:
  print(3)
elif 30 * 12:
  print(4)
elif 0:
  print(5)
else:
    print(6)

1

In [43]:
if '':  
  print(1)
elif True:
  print(2)
else:
    print(3)
  
if '0':
  print(4)

if 45 > 80:
  print(5)
else:
  print(6)

if False:
  print(7)
elif 45 > 20:
  print(8)
elif 'Magesh':
  print(9)
elif 10 % 2:
  print(10)

2
4
6
8

In [44]:
True or False

True

In [45]:
True and False

False

In [47]:
if 56 > 45 and '':
  print(1)
else:
  print(2)

2

In [48]:
'in' in  'I live in India'

True

In [49]:
'In' in  'I live in India'

True

In [50]:
not True # changes the condition

False

In [51]:
not False

True

In [52]:
'lv' not in  'I live in India'
# not in - not of in output

True

In [ ]:
##

## ITERATION:

In [53]:
# to take all the element form that iterable data type one by one

In [ ]:
# 1. for loop   / finite loop
# 2. while loop / infinite loop

#### 1. for loop   / finite loop

In [54]:
# syntax:

# for i in iterable_data_type:
#   statement

# for user_defined_variable in iterable_data_type:
#   statement

In [63]:
a = [1,2,3,4,5,6]

for i in a:
  if (i%2!=0):
    print('odd',i)
  else:
    print('even',i)

print(i) # 6

# a = 100
# a = a + 30
# print(a)

# 1. i = 1 :
# 2. i = 2
# 3. i = 3 
# 4. i = 4
# 5. i = 5
# 6. i = 6

odd 1
even 2
odd 3
even 4
odd 5
even 6
6

## INPUT:

In [67]:
a = input('Enter the Number: ')
b = input('Enter the Number2: ')
c = input('Enter the Number3: ')
print(a)
print(type(a))

# ALWAYS this data type will be a string

Enter the Number: 21312
Enter the Number2: 45645
Enter the Number3: asdfdsf
21312
<class 'str'>

In [69]:
a = input('number')

number1 2 3 4 5 6 7

In [71]:
a

'1 2 3 4 5 6 7'

In [83]:
a = '3452rtyjk'
# b = int(a)
# print(b)
for i in a:
  c = int(i)
  # print(i)
  if (c%2!=0):
    print('odd',i)
  else:
    print('even',i)

# 1. i = '3' : c = int('3') = 3 : 'odd 3'
# 2. i = '4' : c = int('4') = 4 : 'even 4'
# 3. i = '5' : c = int('5') = 5 : 'odd 5'
# 4. i = '2' : c = int('2') = 2 : 'even 2'

odd 3
even 4
odd 5
even 2