In [5]:
def multiple(*z):
  print(z) # tuple
  add = 0
  for i in z:
    add = add + i  # add += i
  print(add)

In [6]:
multiple(1,2,3,4,5)
multiple(1,2,3,4,5,6,7,8,8)
multiple(1,2)

(1, 2, 3, 4, 5)
15
(1, 2, 3, 4, 5, 6, 7, 8, 8)
44
(1, 2)
3

### CLASS:

In [7]:
# OOPS - Object Oriented Programming

In [8]:
# to group the common functions under one category

In [9]:
# syntax:

# class className:
#   statement

In [ ]:
# self denotes that | functions is an instance of that class

In [21]:
class arithmetic:

  def addition(self):
    return 2 + 5

  def sub(self):
    return 5- 3

  def multi(self,z):
    return 8 * z

  
class arithmetic2:
  def addition(self):
    return 2 + 5

  def sub(self):
    return 5- 3

  def multi(self,z):
    return 8 * z

In [25]:
a1 = arithmetic()
# arithmetic().addition()

In [23]:
print(a1.addition())
print(a1.sub())
print(a1.multi(5))

7
2
40

In [102]:
class engine:

  def __init__(self,petrol,oil,battery):
    self.petrol1   = petrol
    self.oil      = oil
    self.battery  = battery
    # gng 2 use inside functions : as how we get input

  def performance_flywheel(self):
    print((self.petrol1 * 1.25) * (self.oil * 0.75) * 0.8)

  def performance_cylinder(self):
      print((self.petrol1 * .76) * self.oil * 1.35)

  def performance_piston(self):
    print(self.petrol1 * self.oil * 0.25)

  def performance_ECU(self,life):
    print(self.battery * 1.75 * (life*12/100) * self.oil)

class engine2:

  def __init__(self,petrol,oil,battery):
    self.petrol1  = petrol
    self.oil      = oil
    self.battery  = battery
    # gng 2 use inside functions : as how we get input

  def performance_flywheel(self):
    print((self.petrol1 + 1.2345) * (self.oil * 0.34) * 0.8)

  def performance_cylinder(self):
      print((self.petrol1 * .2346) * self.oil * 1.35)

  def performance_piston(self):
    print(self.petrol1 * self.oil * 0.25)

  def performance_ECU(self,life):
    print(self.battery * 1.75 + (life*12/100) * self.oil)

In [103]:
engine1 = engine(110,5,12)
print(engine1.__dict__)
engine1.performance_flywheel()
engine1.performance_cylinder()
engine1.performance_piston()
engine1.performance_ECU(3)

{'petrol1': 110, 'oil': 5, 'battery': 12}
412.5
564.3000000000001
137.5
37.8

In [57]:
engine2 = engine(110,5,11)

engine2.performance_flywheel()
engine2.performance_cylinder()
engine2.performance_piston()
engine2.performance_ECU(3)

412.5
564.3000000000001
137.5
34.65

#### CLASS INHERIATNCE:

In [72]:
class school:

  def __init__(self,name,age,sex,dob):
    self.name = name
    self.age  =  age
    self.sex  =  sex
    self.dob  =  dob

  def leavecalender(self):
    print('leave from parent')
  
  def schoolName(self):
    # print('DT8DT9 School')
    return('DT8DT9 School')

In [98]:
class teacher(school):

    # def __init__(self,name,age,sex,dob):
    #   self.name = name
    #   self.age  =  age
    #   self.sex  =  sex
    #   self.dob  =  dob

    # def leavecalender(self):
    #   print('leave from parent')
    
    # def schoolName(self):
    #   # print('DT8DT9 School')
    #   return('DT8DT9 School')

    # def __init__(self,salary,name,age,sex,dob):
    #   super().__init__(name,age,sex,dob)

    def __init__(self,salary,subject,*args):
      super().__init__(*args)

      self.salary = salary
      self.subject = subject

    def teacherName(self):
      print(self.name)

    def teacherAge(self):
      print(self.age)

    def teacherSalary(self):
      print('Teacher Salary is',self.salary)

    def teacherDetails(self):
      d = {
          "name" : self.name,
          "age" : self.age,
          "D.O.B" : self.dob,
          "sex" : self.sex,
           "salary": self.salary,
           "subject": self.subject,
          "working at" : self.schoolName(),
      }
      print(d)

In [ ]:
s1 = school(1,2,3,4)

In [104]:
t1 = teacher(20000,"Python","Magesh",20,'M','20-20-2000')
t1.leavecalender()
t1.schoolName()

leave from parent
DT8DT9 School

In [100]:
t1.teacherDetails()

DT8DT9 School
{'name': 'Magesh', 'age': 20, 'D.O.B': '20-20-2000', 'sex': 'M', 'salary': 20000, 'subject': 'Python', 'working at': None}

In [108]:
print(t1.__dict__) # to get the arguments
print(t1.subject)
print(t1.name)
print(t1.age)
print(t1.sex)
# print(t1['sex'])  error

{'name': 'Magesh', 'age': 20, 'sex': 'M', 'dob': '20-20-2000', 'salary': 20000, 'subject': 'Python'}
Python
Magesh
20
M

In [97]:
t1.teacherSalary()

Teacher Salary is 20000

In [101]:
print(t1.__dict__) # as dict to see the attribute of a class

{'name': 'Magesh', 'age': 20, 'sex': 'M', 'dob': '20-20-2000', 'salary': 20000, 'subject': 'Python'}

In [ ]:
# regx - overview
# pip
# iterator
# pickling
# json

In [109]:
# pass break continue

### pass break continue

In [110]:
# pass - 
# it will not affect the code is used to complete a stetement

In [112]:
if 78 > 90:
  pass

if 748 > 90:
  print('one')

one

In [113]:
for i in [1,2,3,4,5,6,7]:
  print(i)
  pass

1
2
3
4
5
6
7

In [115]:
# continue

# 1. can be used only inside iteration
# 2. when we hit the continue that iteartion will be skipped (i.e) anything below continue will not get executed

In [116]:
for i in [1,2,3,4]:
  if i == 3:
    continue
  print(i)

1
2
4

In [ ]:
# break

# 1. can be used only inside iteration
# 2. when we hit the break that iteartion will be terminated

In [117]:
for i in [1,2,3,4]:
  if i == 3:
    break
  print(i)

1
2

In [ ]:
for i in [1,2,3,4,5]:
  print(i)
  if i == 3 and i %2:
    break