# Heading 
## Heading 
### Heading 
#### Heading 
##### Heading

In [1]:
print('Hello! World') # printing the hello! world statement
print("Hello! World")

Hello! World
Hello! World

I want you all to print 'My first code in Python'

# Python Variables

In [2]:
x = 'Harshit' 
y = 45 
x = 'Guvi'
#Variable = x,  'Harshit' = Value
print(x)
print(y)

Guvi
45

# Data Types in Python

Text Type : str 
'Harshit', 'Guvi', '1234Harshit', 
'gsuygbfdbsfiuh hiufhsdnfkhiowu uhjf iojhkjnfsf njkbskf.'

Numeric Type: int, float, complex
int --> 1 , 2, 3, 4, 5, 6
float --> 1.23, 2.34, 2.000
complex --> 1i, 1j, 1 + 1i, i = -1

Sequence Type: list, tuple 
list = ["aarthi", "Abhijit", "12345"]
tuple = ("aarthi", "Abhijit", "12345")

map type = dict, dictionary 
dictt = {'name' : 'akash'}
          key      value 
          
Boolean Type:
True,False

In [3]:
x = 5 
print(type(x))

<class 'int'>

In [4]:
x = 5.0
print(type(x))

<class 'float'>

In [5]:
z = 'Arunprasath'
print(type(z))

<class 'str'>

In [6]:
listt = ["aarthi", "Abhijit", "12345"]
print(type(listt))

<class 'list'>

In [7]:
tup = ("aarthi", "Abhijit", "12345")
print(type(tup))

<class 'tuple'>

# Casting

In [8]:
q = str(3)
w = float(3)
e = int(3) 
print(q)
print(w)
print(e) 
print(type(q))
print(type(w))
print(type(e))

3
3.0
3
<class 'str'>
<class 'float'>
<class 'int'>

In [9]:
x = 3
print(type(x)) 
y = str(x)
print(type(y))

<class 'int'>
<class 'str'>

In [10]:
y = 3.0
print(type(y))
print(y)
s = int(y)
print(type(s))
print(s)

<class 'float'>
3.0
<class 'int'>
3

# Arithmetic Operations

Do the summation of two numbers

In [11]:
a = 2.7 
b = 9 
summ = a + b
print("addition of 2.7 + 9 is", summ)
print("addition " + "summ")

addition of 2.7 + 9 is 11.7
addition summ

do the substraction of two numbers
multiplication 
division 
exponential of two number

In [12]:
sub = a - b 
multiplication = a * b 
division = b / a 

print("substarction:", sub)
print("multiplication:", multiplication)
print("division:", division)

substarction: -6.3
multiplication: 24.3
division: 3.333333333333333

a ^ b 
2 ^ 3

In [13]:
a = 2
b = 3
exp = a ** b
print("2 of power 3 is", exp)

2 of power 3 is 8

In [14]:
# Floor Division 
# 3 / 2 = 1 
# 15 / 2 = 7 

a = 3  
b = 2 
floor = a // b 
print('floor division:', floor) 

x = 15  
y = 2 
floor = x // y 
print('floor division:', floor)

floor division: 1
floor division: 7

In [15]:
# 15 / 2 = 7 remainder 
# Modulus Operator 

x = 15  
y = 2 
rm = x % y 
print('remainder:', rm)

remainder: 1

# Comparison operator in python

In [16]:
q = 45 
w = 15

In [17]:
print(q>w)

True

In [18]:
print(q<w)

False

In [19]:
print(q == w)

False

In [20]:
print(q != w) # !=

True

In [21]:
print(q >= w)

True

In [22]:
print(q <= w)

False

# Logical Operator

and, or, not

In [23]:
a = True
b = False

In [24]:
print(a and b) # variables are need to be true

False

In [25]:
print(a or b) # either of the variables are need to be true

True

In [26]:
print(not a) # opposite of given condition

False

# assigment operator

In [27]:
a = 5
b = 3
c = a + b
print(c)

8

In [28]:
a = 5
b = 3
a += b
print(a)

8

In [29]:
a = 8
a += b
print(a)

11

In [30]:
# a = 11
a += b
print(a)

14

In [31]:
a += b
print(a)

17

-= 
*=
/= 
**=
//=

In [32]:
a -= b 
print(a)

14

In [33]:
a *= b
print(a)

42

In [34]:
a /= b
print(a)

14.0

In [35]:
a **= b
print(a)

2744.0

In [36]:
a //= b
print(a)

914.0

In [37]:
# identity operator 
a = 45
b = 98 

print(a is not b) # True 
print(a is b) # False

True
False

In [38]:
# mebership operator 
s = 20 
b = 35 

listt = [10, 20, 30, 40, 50]

In [39]:
print(s in listt)

True

In [40]:
print(s not in listt)

False

In [41]:
print(b in listt)

False

In [42]:
print(b not in listt)

True

# string

In [43]:
strr = "neeta is eating a food" 
strr1 =  "neetaiseatingafood" 
#       01234567891011       2
print(strr)

neeta is eating a food

In [44]:
print(len(strr))

22

In [45]:
# String Slicing

In [46]:
strr[:5]

'neeta'

In [47]:
strr[5:]

' is eating a food'

In [48]:
strr1[7:10]

'eat'

In [49]:
strr[9:15]

'eating'

In [50]:
strr[6:8]

'is'

In [51]:
# string concatenation

In [52]:
s1 = 'Lakshmi' 
s2 =  'Priya'
s3 = 'Natarajan'
s = 1
d = 2
f = 3
print(s1 + s2 + s3)
print(s1 + ' ' + s2 + ' ' + s3)
print(s1 , s2 , s3)


print(s + d + f)
print(s , d , f)

LakshmiPriyaNatarajan
Lakshmi Priya Natarajan
Lakshmi Priya Natarajan
6
1 2 3

# List in python
## Properties of list 

### list are always presented in [ ] brackets.

1. Ordered 
List has a defined order, order will not change, if any new item will come to list it will go at the end of the list,
2. Changeable 
you can add or remove an items from the list. 
3. Allow duplicates 
list are indexed, so due to different index position we can have a duplicate value

liss = ['apple', 'Bbanana', 'Orange', 'apple']
          0          1          2        3

In [53]:
liss = ['apple', 'Bbanana', 'Orange', 'apple']
print(liss) 
print(type(liss))

['apple', 'Bbanana', 'Orange', 'apple']
<class 'list'>

In [54]:
print(len(liss))

4

In [55]:
liss = ['apple', 'Bbanana', 'Orange', 'apple']
liss1 = [1 , 2, 3, 4]
liss2 = [True, False, False] 
print(liss)
print(liss1)
print(liss2)

['apple', 'Bbanana', 'Orange', 'apple']
[1, 2, 3, 4]
[True, False, False]

In [56]:
mix_liss = ['apple', 1, True, 5.36]
print(mix_liss)

['apple', 1, True, 5.36]

In [57]:
# list inside list 
linl = ['apple', [1, 2, 3], 'orange'] 
#            0        1       2
print(linl) 
print(linl[1]) 
print(linl[1][1])
print(linl[1][2])

['apple', [1, 2, 3], 'orange']
[1, 2, 3]
2
3

In [58]:
d = list(('apple', [1, 2, 3], 'orange'))
print(d)

['apple', [1, 2, 3], 'orange']

In [59]:
fruits = ['maruti', 'adani', 'reliance', 'bajaj', 'Tata', 'Birla', 'Hero', 'Guvi']
#            0         1          2         3        4       5        6      7     
#         -8          -7          -6      -5       -4       -3      -2      -1
print(fruits)

['maruti', 'adani', 'reliance', 'bajaj', 'Tata', 'Birla', 'Hero', 'Guvi']

In [60]:
fruits[1]

'adani'

In [61]:
fruits[3]

'bajaj'

In [62]:
print(fruits[-1])
print(fruits[7])

Guvi
Guvi

In [63]:
print(fruits[4:7])

['Tata', 'Birla', 'Hero']

In [64]:
print(fruits[4:8])

['Tata', 'Birla', 'Hero', 'Guvi']

In [65]:
print(fruits[:])

['maruti', 'adani', 'reliance', 'bajaj', 'Tata', 'Birla', 'Hero', 'Guvi']

In [66]:
print(fruits[-5:-2])

['bajaj', 'Tata', 'Birla']

In [67]:
fruits = ['maruti', 'adani', 'reliance', 'bajaj', 'Tata', 'Birla', 'Hero', 'Guvi']

In [68]:
print(fruits[1:6])
print(fruits[    0    :   7    :    3 ]) 
#              Start     End       Step

['adani', 'reliance', 'bajaj', 'Tata', 'Birla']
['maruti', 'bajaj', 'Hero']

### Changing items in the list

In [69]:
fruits[3] = 'Godrej'
fruits

['maruti', 'adani', 'reliance', 'Godrej', 'Tata', 'Birla', 'Hero', 'Guvi']

In [70]:
fruits[1:3] = ['adani ports', 'reliance petroleum']
print(fruits)

['maruti', 'adani ports', 'reliance petroleum', 'Godrej', 'Tata', 'Birla', 'Hero', 'Guvi']

In [71]:
# append --> very imp 

x = 'bajaj'
fruits.append(x)
fruits

['maruti',
 'adani ports',
 'reliance petroleum',
 'Godrej',
 'Tata',
 'Birla',
 'Hero',
 'Guvi',
 'bajaj']

In [72]:
y = 'Tata'
fruits.append(y)

In [73]:
print(fruits)

['maruti', 'adani ports', 'reliance petroleum', 'Godrej', 'Tata', 'Birla', 'Hero', 'Guvi', 'bajaj', 'Tata']

In [74]:
fruits.remove('adani ports')
fruits

['maruti',
 'reliance petroleum',
 'Godrej',
 'Tata',
 'Birla',
 'Hero',
 'Guvi',
 'bajaj',
 'Tata']

In [75]:
fruits.pop(2)
print(fruits)

['maruti', 'reliance petroleum', 'Tata', 'Birla', 'Hero', 'Guvi', 'bajaj', 'Tata']

In [76]:
list1 = [1 ,2 ,3 ,4, 5]
list2 = ['Hari', 'Jaya', 'Harry']

final_list = list1 + list2
print(final_list)

[1, 2, 3, 4, 5, 'Hari', 'Jaya', 'Harry']

In [77]:
list1

[1, 2, 3, 4, 5]

In [78]:
for x in list2[1:]:
    print(x) # 0
    list1.append(x) 
    print(list1)

Jaya
[1, 2, 3, 4, 5, 'Jaya']
Harry
[1, 2, 3, 4, 5, 'Jaya', 'Harry']

In [79]:
list1

[1, 2, 3, 4, 5, 'Jaya', 'Harry']

In [80]:
list1.extend(list2)

In [81]:
print(list1)

[1, 2, 3, 4, 5, 'Jaya', 'Harry', 'Hari', 'Jaya', 'Harry']

In [100]:
listt = ['Santhosh', 'Jenardhanan', 'Lakshmi']

In [83]:
listt.append('Pranali')

In [85]:
listt

['Santhosh', 'Jenardhanan', 'Lakshmi', 'Pranali']

In [86]:
listt

['Santhosh', 'Jenardhanan', 'Lakshmi', 'Pranali']

In [87]:
listt2 = ['Suri', 'Prabakaran']

In [88]:
listt.append(listt2)

In [89]:
listt

['Santhosh', 'Jenardhanan', 'Lakshmi', 'Pranali', ['Suri', 'Prabakaran']]

In [90]:
listt.pop(4)

['Suri', 'Prabakaran']

In [91]:
listt

['Santhosh', 'Jenardhanan', 'Lakshmi', 'Pranali']

In [101]:
for name in listt2:
    print(name)
    listt.append(name)
    print(listt)

Suri
['Santhosh', 'Jenardhanan', 'Lakshmi', 'Suri']
Prabakaran
['Santhosh', 'Jenardhanan', 'Lakshmi', 'Suri', 'Prabakaran']

In [94]:
print(listt)

['Santhosh', 'Jenardhanan', 'Lakshmi', 'Pranali', 'Suri', 'Prabakaran']

In [95]:
num = [1, 2, 3, 4, 5] 

# Arithmetic opearation 
# for loop 

# (print sq_num = [1,4,9,16,25])

In [96]:
print([1,4,9,16,25])

[1, 4, 9, 16, 25]

In [97]:
num = [1,2,3,4,5]
sq_num=[]
for i in num:
    sq_num.append(i*i)

print(sq_num)

[1, 4, 9, 16, 25]

In [98]:
num2 = []
for item in num:
    item = item * item
    num2.append(item)

print (num2)

[1, 4, 9, 16, 25]

In [102]:
listt10 = [1,2,3,4,5,6,7,8,9,10] 
new_listt_sq = [9, 16, 25, 36, 49] # -->

# square is >5 and <50

In [103]:
num=[1,2,3,4,5,6,7,8,9,10]
sq_list = []
for i in num:
      if((i*i)>5 and (i*i)<50):
        sq_list.append(i*i)
print(sq_list)

[9, 16, 25, 36, 49]

In [104]:
num=[1,2,3,4,5,6,7,8,9,10]
sq_list = [] 

for numb in num:
    square = numb * numb 
    if square > 5 and square < 50:
        sq_list.append(square)

In [105]:
sq_list

[9, 16, 25, 36, 49]

# Tuple

In [106]:
first_tuple = ("Maruti", "Hero", "Mahindra")
print(first_tuple)

('Maruti', 'Hero', 'Mahindra')

In [107]:
print(type(first_tuple))

<class 'tuple'>

In [108]:
print(len(first_tuple))

3

In [109]:
tuple_d = ('maruti', 'hero', 1,2, True, False, 'yoyo')

In [110]:
tuple_d

('maruti', 'hero', 1, 2, True, False)

# Properties of tuple 
() 

Ordered 
Unchangeable 
Allow Duplicates

In [111]:
tuple_d.append("Suzuki") # Error ---> Debugging

AttributeError: 'tuple' object has no attribute 'append'

In [113]:
com = ('Maruti', 'Mahindra', 'Adani', 'Tata', 'Reliance')
print(type(com))

<class 'tuple'>

In [114]:
comp_list = list(com)
print(comp_list)
print(type(comp_list))

['Maruti', 'Mahindra', 'Adani', 'Tata', 'Reliance']
<class 'list'>

In [115]:
comp_list[0] = 'Maruti Suzuki'

In [117]:
print(comp_list[0])

Maruti Suzuki

In [118]:
# Access item in list

In [119]:
tuple(comp_list)

('Maruti Suzuki', 'Mahindra', 'Adani', 'Tata', 'Reliance')

In [120]:
comp_list[1:4]

['Mahindra', 'Adani', 'Tata']

In [121]:
# loop through tuple 

print(comp_list)

['Maruti Suzuki', 'Mahindra', 'Adani', 'Tata', 'Reliance']

'Maruti Suzuki' 
'Mahindra' 
'Adani' 
'Tata' 
'Reliance'

In [122]:
x = 'Maruti Suzuki'
print(type(x))

<class 'str'>

In [123]:
y = ('Maruti Suzuki', 'Mahindra', 'Adani', 'Tata', 'Reliance')  
print(type(y))

<class 'tuple'>

In [124]:
for i in comp_list:
      print(i)

Maruti Suzuki
Mahindra
Adani
Tata
Reliance

In [125]:
new_comp = ('suzuki', 'honda', 'fiat', 'volvo', 'M&M')

('Maruti Suzuki', 'Mahindra', 'Adani', 'Tata', 'Reliance', 'suzuki', 'honda', 'fiat', 'volvo', 'M&M')

In [128]:
tup = tuple(list(comp_list) + list(new_comp))
print(tup)

('Maruti Suzuki', 'Mahindra', 'Adani', 'Tata', 'Reliance', 'suzuki', 'honda', 'fiat', 'volvo', 'M&M')

# Sets

In [129]:
myset = {'Maruti Suzuki', 'Mahindra', 'Adani'} 
print(myset)

{'Mahindra', 'Adani', 'Maruti Suzuki'}

# Properties of sets 
{} 
Unordered 
Unchangeable 
Duplicates Not allowed

In [146]:
set({'Maruti Suzuki','Reliance', 'Mahindra', 'Adani', 'Tata', 'Reliance', 'suzuki', 'honda', 'fiat', 'volvo', 'M&M', 'fiat'})

{'Adani',
 'M&M',
 'Mahindra',
 'Maruti Suzuki',
 'Reliance',
 'Tata',
 'fiat',
 'honda',
 'suzuki',
 'volvo'}

In [142]:
cars2 = ('ford', 'fiat')

In [143]:
cars2

('ford', 'fiat')

In [144]:
list(cars2)

['ford', 'fiat']

In [147]:
# ('Maruti Suzuki', 'Mahindra', 'Adani', 'Tata', 'Reliance', 'suzuki', 'honda', 'fiat', 'volvo', 'M&M') 

# tuple to set

In [149]:
new_tuple = ('Maruti Suzuki', 'Mahindra', 'Adani', 'Tata', 'Reliance', 'suzuki', 'honda', 'fiat', 'volvo', 'M&M')
set1 = set(new_tuple)
print(set1)

{'Mahindra', 'Tata', 'honda', 'volvo', 'M&M', 'Maruti Suzuki', 'Reliance', 'Adani', 'fiat', 'suzuki'}

'Mahindra', 
'Tata', 
'honda', 
'volvo', 
'M&M', 
'Maruti Suzuki', 
'Reliance', 
'Adani', 
'fiat', 
'suzuki'

In [150]:
for i in set1:
      print(i)

Mahindra
Tata
honda
volvo
M&M
Maruti Suzuki
Reliance
Adani
fiat
suzuki

In [151]:
s = 'Guvi'
for i in s:
    print(i)

G
u
v
i

In [154]:
set1.add('birla')

In [155]:
set1

{'Adani',
 'M&M',
 'Mahindra',
 'Maruti Suzuki',
 'Reliance',
 'Tata',
 'birla',
 'fiat',
 'honda',
 'suzuki',
 'volvo'}

In [156]:
set2 = {'guvi', 'jini'}
set1.update(set2)

In [157]:
set1

{'Adani',
 'M&M',
 'Mahindra',
 'Maruti Suzuki',
 'Reliance',
 'Tata',
 'birla',
 'fiat',
 'guvi',
 'honda',
 'jini',
 'suzuki',
 'volvo'}

In [158]:
set1.remove('jini')

In [159]:
set1

{'Adani',
 'M&M',
 'Mahindra',
 'Maruti Suzuki',
 'Reliance',
 'Tata',
 'birla',
 'fiat',
 'guvi',
 'honda',
 'suzuki',
 'volvo'}

In [161]:
set2 = {'ceo1',  'ceo2', 'ceo3'} 

set3 = set1.union(set2)
print(set3)

{'Mahindra', 'Tata', 'guvi', 'honda', 'ceo1', 'volvo', 'ceo3', 'M&M', 'Maruti Suzuki', 'Reliance', 'Adani', 'birla', 'ceo2', 'fiat', 'suzuki'}

# Dictionary

dictt = {key : value}

comp = {'Suzuki' : 'Car'}
#         Key      Value

# Changeable 
# Duplicates Not allowed

In [164]:
comp = {'Suzuki' : 'Car',
        'model' : 2010, 
        'Year'  : 1980, 
        'Year'  : 2020} 

print(comp)

{'Suzuki': 'Car', 'model': 2010, 'Year': 2020}

In [165]:
comp = {'Suzuki' : 'Car',
        'model' : 2010, 
        'Year'  : 1980, 
        'year'  : 2020} 
print(comp)

{'Suzuki': 'Car', 'model': 2010, 'Year': 1980, 'year': 2020}

In [166]:
comp['Year']

1980

In [167]:
print(len(comp))

4

In [168]:
['2010', '2011', '2012', '2013', '2014']

['2010', '2011', '2012', '2013', '2014']

In [169]:
new_dictt = {"Suzuki":"Car", 'Model':2010, "Year":['2010','2011','2012','2013','2014']}
print(new_dictt)

{'Suzuki': 'Car', 'Model': 2010, 'Year': ['2010', '2011', '2012', '2013', '2014']}

In [170]:
comp['year']=[2012,2023] 
print(comp)

{'Suzuki': 'Car', 'model': 2010, 'Year': 1980, 'year': [2012, 2023]}

In [171]:
thisdict = dict(name = 'suzuki', age = 15, year = 2013)
print(thisdict)

{'name': 'suzuki', 'age': 15, 'year': 2013}

In [172]:
comp = {'Suzuki' : 'Car',
        'model' : 2010, 
        'Year'  : 1980, 
        'year'  : 2020}  

comp['hp'] = 56 

comp

{'Suzuki': 'Car', 'model': 2010, 'Year': 1980, 'year': 2020, 'hp': 56}

In [173]:
comp['hp'] = 95

In [174]:
comp

{'Suzuki': 'Car', 'model': 2010, 'Year': 1980, 'year': 2020, 'hp': 95}

In [175]:
comp.pop('Year')

1980

In [176]:
comp

{'Suzuki': 'Car', 'model': 2010, 'year': 2020, 'hp': 95}

loop through this dictionary

In [177]:
for i in comp:
    print(i)

Suzuki
model
year
hp

In [178]:
for key in comp.keys():
    print(key)

Suzuki
model
year
hp

In [179]:
for value in comp.values():
    print(value)

Car
2010
2020
95

In [182]:
for key, value in comp.items():
    print('Key:', key, ' Value:',value)

Key: Suzuki  Value: Car
Key: model  Value: 2010
Key: year  Value: 2020
Key: hp  Value: 95

In [ ]:
# Nested Dictionary

In [185]:
thisdict = {'Suzuki': {
    'car' : 'hatchback'
}, 
 'model': {
     'year' : ['2010', 2011, 2013, '2024']
 }
 , 
 'year': 2020, 
 'hp': 95}

In [186]:
thisdict['model']

{'year': ['2010', 2011, 2013, '2024']}

In [187]:
thisdict['model']['year']

['2010', 2011, 2013, '2024']

In [188]:
thisdict["model"]["year"][3]="2023"

In [189]:
thisdict

{'Suzuki': {'car': 'hatchback'},
 'model': {'year': ['2010', 2011, 2013, '2023']},
 'year': 2020,
 'hp': 95}

# Conditional Statement

if 
if else 
if elif else

if  :
     
else :   
    
if : 
elif : 
else:

In [190]:
b = "Santhosh" 
a = "Harshit" 

if a == b: 
    print('Both are same') 
else: 
    print('Both are different')

Both are different

 b = 30 
c = 20 

sum > 50 
print sum 

or it will not print sum

In [199]:
# this is wrong

b=30
c=30

Sum = b+c
if(Sum > 50):
    print(Sum)
else:
    print('Sum is less than 50')

60

In [204]:
# this is wrong
a=30
b=20
Sum=a+b
if (Sum >= 50):
    print(Sum)

50

In [206]:
# This is completely wrong
a,b=30,20
Sum=a+b
if Sum > 50:
    print(Sum)

In [201]:
b = 30
c = 20
Sum = a + b
if Sum > 50:
    print (Sum)
else:
    print ('sum is lesser than 50')

60

marks = 60 
grade A 
Grade B
Grade C 


if elif

In [209]:
marks = float(input())
if(marks>80):
      print("Grade A")
elif(marks>70 and marks<=80):
      print("Grade B")
else:
      print("Grade C")

58.632
Grade C

In [213]:
marks = int (input("enter your marks :"))
if (marks >= 90) : # Condition 
    print("Grade A") # Statement
elif (marks <90 | marks >=70):
    print("Grade B")
elif (marks <70 | marks >=35):
    print("Grade c")
else:
    print("Fail")

enter your marks :58
Grade B

In [214]:
drink = ['water', 'tea', 'juice'] 
food = ['Dosa', 'Chole', 'Dhokla']

possible_choices

[['water', 'Dhonsa'], ['water, Chole'], ]

In [218]:
possible_choices = [] 

for drn in drink: 
    for fd in food:
        fg = [drn,fd]
        possible_choices.append(fg) 
        
possible_choices

[['water', 'Dhonsa'],
 ['water', 'Chole'],
 ['water', 'Dhokla'],
 ['tea', 'Dhonsa'],
 ['tea', 'Chole'],
 ['tea', 'Dhokla'],
 ['juice', 'Dhonsa'],
 ['juice', 'Chole'],
 ['juice', 'Dhokla']]

# List comprehension

In [219]:
food = ['Dosa', 'Chole', 'Dhokla', 'Mango']

In [227]:
%time
for i in food:
    if 'Mango' in i:
        print(food)

Wall time: 0 ns
['Dosa', 'Chole', 'Dhokla', 'Mango']

In [226]:
# List comprehension 
%time
new_food = [x for x in food if 'Mango' in food] 
print(new_food) 

# Decrease the number of lines
# It will make your computational efficiencey faster   
# More readability of your code

Wall time: 0 ns
['Dosa', 'Chole', 'Dhokla', 'Mango']

#### In a range of 1 to 51 print the list of even numbers

In [3]:
even_nums = [] 
for i in range(1, 51):
    if i%2 == 0:
        even_nums.append(i) 
        
print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

## List Comprehension

List Comprehension Syntax 

>[expression for element in iterable if condition] \
 > [expression **for** item **in** item **if** condition == **True**]

In [6]:
even_list = [i for i in range(51) if i%2 == 0] 
print(even_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

print the numbers in a range 10 which are less than 5

In [7]:
new_list = [i for i in range(1,10) if i < 5]
print(new_list)

[1, 2, 3, 4]

i want a square of all the numbers in a range 1 to 11

In [10]:
squ_num = [i**2 for i in range(1,11)]
print(squ_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

stri = ['Abhijit', 'Akash', 'Anbazghan', 'Lakshmi', 'Prabakaran', 'Pranali'] 

print str whose length is >8

In [16]:
stri = ['Abhijit', 'Akash', 'Anbazghan', 'Lakshmi', 'Prabakaran', 'Pranali'] 
# c = 0 
# if len(i) > 8 
[i for i in stri if len(i) > 8]

['Anbazghan', 'Prabakaran']

#### Pseudocode
I for I in str if length str greater than 8

## While Loop

while [boolean expression] :
    statement 1 
    statements 2 
    .
    .
    .

print the number less than 5 using for loop

In [22]:
num = 0
emplist = []
while num < 5:
    num = num + 1 
    emplist.append(num)
    print(num) 
    
print(emplist)

1
2
3
4
5
[1, 2, 3, 4, 5]

but when the > 3 stop the execution of while loop 

break

In [32]:
num = 0
emplist1 = []
while num < 100:
    num = num + 1 
    emplist1.append(num) 
    if num == 73:
        break
print(emplist1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73]

average of 10 , 20, 30

In [36]:
num = 0
count = 0 
summ = 0 

while num >= 0 :
    num = int(input()) 
    if num >= 0:
        count = count + 1 
        summ = summ + num 
        
avg = summ/count 

print(avg)

10
20
30
-1
20.0

In [39]:
num = 0 
count = 0 
summ = 0 

# type any negative number to stop the loop execution
while num >= 0:
    num = int(input('enter any negative number to stop execution of loop')) 
    if num >= 0:
        count = count + 1 
        print('count', count) 
        summ = summ + num 
        print('summ', summ)
        
avg = summ/count 
print(avg)

85
count 1
summ 85
96
count 2
summ 181
75
count 3
summ 256
-1
85.33333333333333

# Function in python

In [41]:
def first_func():
    print('My first Function')

In [53]:
def first_func_return():
#     print('My first Function')
    return ('My first Function')

In [54]:
x = first_func_return()

In [55]:
print(x)

My first Function

simple function to add two numbers:

In [57]:
def mult(a,b):
    c = a * b
    print(c)

In [58]:
mult(34, 86)

2924

In [61]:
def mult1(      a,                   b=20): 
#         Positinal argument      Keyword argument
    c = a * b 
    print(c) 
    
mult1(20)

400

In [64]:
mult1(10, 60)

600

calling a function and i want to keep on appending a number in a list in a range 1, 10:

In [65]:
def func(num): 
    new_list = []
    new_list.append(num)
    print(num)
    return new_list

In [71]:
for i in range(1,10): 
    f = func(i)
print(f)

1
2
3
4
5
6
7
8
9
[9]

In [72]:
# lambda function

In [73]:
mul = lambda x,y : x * y

In [74]:
print(mul(9,8))

72

i have given a list print the square of element inside the list 
> [1,2,3,4,5]

In [75]:
nums = [4,5,6,7,8,9]

In [78]:
(lambda n: n*2, nums)

(<function __main__.<lambda>(n)>, [4, 5, 6, 7, 8, 9])

In [79]:
map(lambda n: n*2, nums)

In [80]:
list(map(lambda n: n*2, nums))

[8, 10, 12, 14, 16, 18]

In [81]:
strs = ['aswin', 'is',  'learning'] 
#ans --> ['ASWIN!', 'IS!', 'LEARNING!']

In [82]:
(lambda x: x.upper() + '!', strs)

(<function __main__.<lambda>(x)>, ['aswin', 'is', 'learning'])

In [83]:
map(lambda x: x.upper() + '!', strs)

In [84]:
list(map(lambda x: x.upper() + '!', strs))

['ASWIN!', 'IS!', 'LEARNING!']

In [85]:
stri = ['Abhijit', 'Akash', 'Anbazghan', 'Lakshmi', 'Prabakaran', 'Pranali'] 
list(map(lambda s: len(s) > 5, stri))

[True, False, True, True, True, True]

In [86]:
list(filter(lambda s: len(s) > 5, stri))

['Abhijit', 'Anbazghan', 'Lakshmi', 'Prabakaran', 'Pranali']

In [87]:
## 
list_nums = [5 ,6,8,2,4,5] 
# print even nums

In [88]:
def func(a,b,c):
    print(a+b*c)

In [89]:
func(23,45,67)

3038

In [90]:
x = lambda a,b,c : a + b * c 

print(x(23,45,67))

3038

In [93]:
new_str = []
for i in stri:
    if len(i) > 5 :
        new_str.append(i) 
        
print(new_str)

['Abhijit', 'Anbazghan', 'Lakshmi', 'Prabakaran', 'Pranali']

In [94]:
print(lambda s: len(s) > 5)

<function <lambda> at 0x00000243AAA6BA60>

In [98]:
stri = ['Abhijit', 'Akash', 'Anbazghan', 'Lakshmi', 'Prabakaran', 'Pranali'] 
list(filter(lambda s: len(s) > 5, stri))

['Abhijit', 'Anbazghan', 'Lakshmi', 'Prabakaran', 'Pranali']

In [103]:
list(filter(lambda s: len(s) > 5, stri))

['Abhijit', 'Anbazghan', 'Lakshmi', 'Prabakaran', 'Pranali']

In [104]:
list_nums = [5,6,8,2,4,5]

In [105]:
lambda s : s % 2 == 0

In [107]:
list(map(lambda s : s % 2 == 0, list_nums))

[False, True, True, True, True, False]

In [108]:
filter(lambda s : s % 2 == 0, list_nums)

In [110]:
ks = list(filter(lambda s : s % 2 == 0, list_nums))
ks

[6, 8, 2, 4]

In [111]:
# double down 
def double(n):
    return n * 2

In [112]:
double(5)

10

In [115]:
double_list = []
for i in ks:
    i = i * 2 
    double_list.append(i) 
    
print(double_list)

[12, 16, 4, 8]

In [116]:
list(map(lambda s : s * 2, ks))

[12, 16, 4, 8]

In [117]:
list(map(double, ks))

[12, 16, 4, 8]

## File Handling

In [136]:
f = open('readingfiles.txt')
print(f)

<_io.TextIOWrapper name='readingfiles.txt' mode='r' encoding='cp1252'>

In [137]:
print(f.read())

I am learning a python today, I have a learn list comprehension, defining a function, lambda, filter and map and few test cases. I am learning a file handling concept right now

In [138]:
f = open(r'D:\New folder\python basics\readingfiles.txt')
print(f.read(5))

I am

In [139]:
f = open('readingfiles.txt', 'a')
f.write('I am learning a file handling concept right now') 
f.close()

In [140]:
f = open('readingfiles.txt')
print(f.read())

I am learning a python today, I have a learn list comprehension, defining a function, lambda, filter and map and few test cases. I am learning a file handling concept right nowI am learning a file handling concept right now

In [141]:
f = open('readingfiles.txt', 'w')
f.write('adding a new line') 
f.close()

In [142]:
f = open('readingfiles.txt')
print(f.read())

adding a new line

In [143]:
f = open('readingfiles.txt', 'w')
f.write('I am learning a python today, I have a learn list comprehension, defining a function, lambda, filter and map and few test cases. I am learning a file handling concept right now') 
f.close()

In [149]:
f = open('newfile.txt', 'x')

In [150]:
f.close()

In [151]:
import os 
os.remove('newfile.txt')

In [152]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt