In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://karthick3003:Karthick3012@cluster0.gel395d.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

No replica set members match selector "Primary()", Timeout: 30s, Topology Description: <TopologyDescription id: 64aa4a6ed9bee41697c3af7f, topology_type: ReplicaSetNoPrimary, servers: [<ServerDescription ('ac-si7jjsc-shard-00-00.gel395d.mongodb.net', 27017) server_type: RSSecondary, rtt: 0.020810578997043194>, <ServerDescription ('ac-si7jjsc-shard-00-01.gel395d.mongodb.net', 27017) server_type: RSSecondary, rtt: 0.023681042999669444>, <ServerDescription ('ac-si7jjsc-shard-00-02.gel395d.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('ac-si7jjsc-shard-00-02.gel395d.mongodb.net:27017: [Errno -3] Temporary failure in name resolution')>]>

In [2]:
import pymongo
client = MongoClient("mongodb+srv://karthick3003:Karthick3012@cluster0.gel395d.mongodb.net/?retryWrites=true&w=majority")
db = client.dt8dt9
collections= db.adolfhitler

collections.insert_one({"name":"nirmal","role":"mentor"})

In [3]:
x = collections.find_one({"name":"nirmal"})
print(x)

{'_id': ObjectId('64983e3763baa9801d767e10'), 'name': 'nirmal', 'role': 'mentor', 'lastModified': datetime.datetime(2023, 7, 8, 7, 9, 50, 932000)}

In [4]:
x = collections.find_one({"name":"nirmal"})
for i in x:
    print(i)
print(list(x))

_id
name
role
lastModified
['_id', 'name', 'role', 'lastModified']

In [5]:
x = collections.find({"name":"nirmal"})
for i in x:
    print(i)

{'_id': ObjectId('64983e3763baa9801d767e10'), 'name': 'nirmal', 'role': 'mentor', 'lastModified': datetime.datetime(2023, 7, 8, 7, 9, 50, 932000)}
{'_id': 10, 'name': 'nirmal', 'metrics': [2, 3.5, 'hello', None, None, None, None, None, None, None, 20], 'experoe': {'0': 2}, 'nethajiii': 2, 'volume': 6}
{'_id': ObjectId('64aa4a9fd9bee41697c3af81'), 'name': 'nirmal', 'role': 'mentor'}

In [ ]:
x = collections.find()
for i in x:
    print(i)

In [ ]:
import requests
import json
api_key = "1659cf5477bd0a121c844691d4bd9e81"
city=input()
url="https://api.openweathermap.org/data/2.5/weather?q=%s&appid=%s&units=metric"% (city, api_key)
#url = "https://api.openweathermap.org/data/2.5/onecall?lat=%s&lon=%s&appid=%s&units=metric" % (lat, lon, api_key)
response = requests.get(url)
data = json.loads(response.text)
#print(data)
print("the temperature in {} ".format(city)+str(data["main"]["temp"]))

In [ ]:
d1={"_id":121,
"float":1.0020,
"list":[1,2,"nethaji"],
"dict":{"neth":1,"wd":"day"},
"tuple":(1,2,3,4),
"name":"nethaji",
"blood_group":"O_bombay",
"bool":True,
"no":None
}
collections.insert_one(d1)

In [ ]:
dict1={
"name" : input("enter you name"),
"age":int(input("enter age")),
"gender":input("enter gender")
}
collections.insert_one(dict1)

In [ ]:
mylist = [
{ "name": "guvi1", "address": "chennai"},
{ "name": "g2", "address": "bengaluru"},
{ "name": "g3", "address": "mumbai"},
{ "name": "g4", "address": "delhi"},
{ "_id":1, "name": "John", "address": "chennai"},
]
collections.insert_many(mylist)

In [ ]:
from PIL import Image
import io
im = Image.open("/home/ducati/Pictures/Screenshot_20230326_164429.png")

image_bytes = io.BytesIO()
im.save(image_bytes, format='JPEG')

dict1 = {
"_id":"Karthick",
'image': image_bytes.getvalue()
}

collections.insert_one(dict1)

In [ ]:
#Reading image from Mongo
#from pymongo import MongoClient
from PIL import Image
import io
#import matplotlib.pyplot as plt


retrival = collections.find_one({"_id":"Karthick"})
print(retrival)


pil_img = Image.open(io.BytesIO(retrival['image']))
#plt.imshow(pil_img)
#plt.show()
pil_img

In [ ]:
x = collections.find({"address":"mumbai"})
for i in x:
    print(i)

In [ ]:
y=collections.find({"address":"mumbai"},{"_id":False,"name":1})
for x in y:
    print(x)

In [ ]:
for x in collections.find({"$or":[{"address":"mumbai"},{"address":"chennai"}]},{"_id":0,"name":1,"address":1}):
    print(x)

In [ ]:
for x in collections.find({"$and":[{"address":"mumbai"},{"address":"chennai"}]},{"_id":0,"name":1,"address":1}):
    print(x)

In [ ]:
d1={"age":23,"name":"Karthick"}
collections.insert_one(d1)

In [ ]:

a=collections.find( { "age": { "$gt": 10 } } )
#print(a)
for x in a:
    print(x)

In [ ]:
a=collections.find( { "age": { "$gt": 10 } } )
#print(a)
for x in a:
    print(x)

In [ ]:
for x in collections.find({"list":{"$in":["nethaji",1]}}):
    print(x)

In [ ]:
collections.find_one({"dict.neth":1})

In [ ]:
collections.insert_one({"name":{"details":{"address":{"communication":[1,2,3],"permamnent":"chennai"}}}})

In [ ]:
collections.find_one({"name.details.address.communication":{"$in":[2]}})

In [ ]:
myquery = { "address": {"$regex": "i$"} }

x = collections.delete_one(myquery)

print(x.deleted_count, " documents deleted.")

In [ ]:
myquery = {"name":"Karthick"}
newvalue = {"$set":{"address":"chennai"}}

collections.update_one(myquery, newvalue)
for x in collections.find().limit(5):
    print(x)

In [ ]:
myquery = {"_id":121}
newvalue = {"$set":{"dict.neth":2}}

collections.update_one(myquery, newvalue)
for x in collections.find().limit(5):
    print(x)

In [ ]:
yquery = { "name": "Karthick" }
newvalues = { "$unset": { "address":True} }

collections.update_one(myquery, newvalues)

for x in collections.find().limit(5):
    print(x)

In [ ]:
myquery = {"_id":121}
newvalue = {"$unset":{"dict.neth":False}}

collections.update_one(myquery, newvalue)
for x in collections.find().limit(5):
    print(x)

In [ ]:
myquery = { "_id": 12 }
newvalues = { "$pull": { "list":2} }

collections.update_one(myquery, newvalues)

for x in collections.find().limit(5):
    print(x)

In [ ]:
import pandas as pd
import pygwalker as pyg
df = pd.read_csv("https://raw.githubusercontent.com/nethajinirmal13/Training-datasets/main/diabetes.csv")
gwalker = pyg.walk(df)

In [ ]:
#update timestamp
myquery = { "name":"nirmal" }

up= {"$currentDate": { "lastModified": True}}

collections.update_many(myquery,up)

for x in collections.find().limit(5):
    print(x)

In [ ]:
my_query = {"name": "Karthick"}
update_value = {"$push": {"country": "india"},"$currentDate": { "lastModified": True}}


collections.update_many(my_query, update_value)

for data in collections.find(my_query):
    print(data)

In [ ]:
data1={
"_id": 10,
"name": "nirmal",
"quantity": 10,
"metrics": [2, 3.5,"hello"]
}
collections.insert_one(data1)

In [ ]:
#$inc

myquery={ "_id": 10 }
update= { "$inc": { "quantity": -2, "metrics.10": 10 ,"nethajiii":1,"experoe.0":1} }
collections.update_one(myquery,update)
print(collections.find_one({"_id":10}))

In [ ]:
# rename
collections.update_one({"_id":10},{"$rename":{"quantity":"volume"}})

a=collections.find({"_id":10})
for data in a:
    print(data)

In [ ]:
#sample data for $mul
data2={ "_id" : 101, "item" : "ABC", "price" : 10.99, "qty" : 25 }
collections.insert_one(data2)

In [ ]:
#$mul
myquery1= { "_id": 101 }
update = { "$mul": { "price": 1.25, "qty": 2 } }
collections.update_one(myquery1,update)

In [8]:
new={
'_id': "nirmalguvi1",
'name': "Nethaji Nirmal",
'address': {
"permaneant":
{'street': "nethaji st",
'city': ["chennai","coimbatore"],
'state': "tamilnadu",
'zip': "600006"},


"communication":
{'street': "nethaji st",
'city': ["chennai","coimbatore"],
'state': "tamilnadu",
'zip': "600002"},


},
"photo":{"name":"nethaji"}
}
collections.insert_one(new)