In [1]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /home/ducati/.local/lib/python3.11/site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /home/ducati/.local/lib/python3.11/site-packages (from mysql-connector-python) (3.20.3)

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  #database='joins'
  
)

print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f9fc8f4be10>

In [3]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

#Show all existing db

('School',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [4]:
mycursor.execute("CREATE DATABASE newdatabase")

In [5]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('School',)
('information_schema',)
('mysql',)
('newdatabase',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [6]:
mycursor.execute("DROP DATABASE newdatabase")

In [7]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('School',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [8]:
mycursor.execute("USE School")# to use or edit with particular database

In [9]:
mycursor.execute("CREATE TABLE lucky (salary INT(6),weight DECIMAL(5,3),insurance BOOLEAN)")
mydb.commit()

ProgrammingError: 1050 (42S01): Table 'lucky' already exists

In [ ]:
mycursor.execute("SHOW TABLES FROM School")

for x in mycursor:
  print(x)

In [ ]:
mycursor.execute("USE School")

In [ ]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

In [ ]:
mycursor.execute("INSERT INTO lucky (salary,weight, insurance) VALUES (20000, 43.2,1)")
mydb.commit()

In [ ]:
mycursor.execute("INSERT INTO lucky (weight,salary) VALUES (55.000, 43000)")
mydb.commit()

In [ ]:
mycursor.execute("INSERT INTO lucky() VALUES ()")
mydb.commit()

In [ ]:
mycursor.execute("ALTER TABLE lucky ADD covid VARCHAR(5) FIRST")
mydb.commit()

In [ ]:
mycursor.execute("ALTER TABLE lucky ADD height VARCHAR(5)")
mydb.commit()

In [ ]:
mycursor.execute("ALTER TABLE lucky ADD covid_status VARCHAR(5) AFTER covid")
mydb.commit()

In [ ]:
mycursor.execute("ALTER TABLE lucky DROP covid_status")
mydb.commit()

In [ ]:
mycursor.execute("ALTER TABLE lucky MODIFY height INT ")
mydb.commit()

In [ ]:
mycursor.execute("DELETE FROM lucky Where height='fds'")
mydb.commit()

In [ ]:
mycursor.execute("TRUNCATE lucky")
mydb.commit()

In [ ]:
mycursor.execute("CREATE TABLE date (datein DATE)")
#mycursor.execute("INSERT INTO date (datein) VALUES ( CURDATE())")

In [ ]:
mycursor.execute("INSERT INTO date (datein) VALUES ( CURDATE())")
mycursor.execute("INSERT INTO date (datein) VALUES ( CURRENT_DATE())")
mycursor.execute("INSERT INTO date (datein) VALUES (CURTIME())")
mycursor.execute("INSERT INTO date (datein) VALUES (CURRENT_TIMESTAMP())")
mycursor.execute("INSERT INTO date (datein) VALUES (CURRENT_TIME())")
mycursor.execute("INSERT INTO date (datein) VALUES (NOW())")
mydb.commit()

In [ ]:
mycursor.execute("CREATE TABLE datestrin (datein VARCHAR(255))")

In [ ]:
mycursor.execute("INSERT INTO datestrin (datein) VALUES ( CURDATE())")
mycursor.execute("INSERT INTO datestrin (datein) VALUES ( CURRENT_DATE())")
mycursor.execute("INSERT INTO datestrin (datein) VALUES (CURTIME())")
mycursor.execute("INSERT INTO datestrin (datein) VALUES (CURRENT_TIMESTAMP())")
mycursor.execute("INSERT INTO datestrin (datein) VALUES (CURRENT_TIME())")
mycursor.execute("INSERT INTO datestrin (datein) VALUES (NOW())")#date and time
mycursor.execute("INSERT INTO datestrin (datein) VALUES (MONTHNAME(NOW()))")
mycursor.execute("INSERT INTO datestrin (datein) VALUES (DAYNAME(NOW()))")
mycursor.execute("INSERT INTO datestrin (datein) VALUES (HOUR(NOW()))")
mycursor.execute("INSERT INTO datestrin (datein) VALUES (MINUTE(NOW()))")
mycursor.execute("INSERT INTO datestrin (datein) VALUES (DATE_ADD(NOW(),INTERVAL -10 DAY))")
mycursor.execute("INSERT INTO datestrin (datein) VALUES (DATE_FORMAT(NOW(),'%W %D %M %Y %T %H'))")
mycursor.execute("INSERT INTO datestrin (datein) VALUES (UTC_DATE())")#UTC_TIME,UTC_TIMESTAMP
mydb.commit()

In [ ]:
mycursor.execute("CREATE TABLE blobtest (datein BLOB )")

In [ ]:
# Convert images or files data to binary format
def convert_data(file_name):
    with open(file_name, 'rb') as file:
        binary_data = file.read()
    return binary_data
a=convert_data("/home/ducati/Pictures/Screenshot_20230225_162117.png")
#print(a)

query="""INSERT INTO blobtest (datein) VALUES (%s)"""
mycursor.execute(query,[a])
mydb.commit()

In [ ]:
mycursor.execute("SELECT * FROM training_datasets_main_diabetes")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT Pregnancies,Glucose FROM training_datasets_main_diabetes WHERE Pregnancies=1")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT count(Pregnancies) FROM training_datasets_main_diabetes")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT sum(Pregnancies) FROM training_datasets_main_diabetes")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT Pregnancies,avg(Age) FROM training_datasets_main_diabetes Where Pregnancies=3")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT max(Pregnancies) FROM training_datasets_main_diabetes")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT min(BloodPressure) FROM training_datasets_main_diabetes")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT avg(BMI) FROM training_datasets_main_diabetes WHERE outcome = 1")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT avg(BMI) FROM training_datasets_main_diabetes WHERE outcome = 0")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT COUNT(Pregnancies) FROM training_datasets_main_diabetes WHERE Outcome = 0 AND BloodPressure > 40 AND BloodPressure<90")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("select count(BloodPressure) from training_datasets_main_diabetes where BloodPressure BETWEEN 40 and 91 and outcome = 0")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT AGE,Insulin FROM training_datasets_main_diabetes WHERE AGE >40 AND Age IN (SELECT AGE FROM training_datasets_main_diabetes where bmi > 30)")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT * FROM training_datasets_main_diabetes WHERE Pregnancies=1 ORDER BY BMI DESC")
out=mycursor.fetchall()
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT pregnancies,outcome,count(Pregnancies) FROM training_datasets_main_diabetes GROUP BY Age ")
out=mycursor.fetchall()
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT pregnancies, COUNT(*) AS count, AVG(age) AS avg_age FROM training_datasets_main_diabetes GROUP BY pregnancies")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],showindex="always",  tablefmt='psql'))

In [ ]:
mycursor.execute("select pregnancies,avg(age) from training_datasets_main_diabetes group by pregnancies")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],showindex="always",  tablefmt='psql'))

In [ ]:
mycursor.execute("""
    SELECT Age, Pregnancies, COUNT(*) OVER (PARTITION BY Pregnancies ORDER BY Age DESC) as Countw
    FROM training_datasets_main_diabetes
""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("""
    SELECT Age, Pregnancies, BloodPressure, 
           RANK() OVER (PARTITION BY Pregnancies ORDER BY BloodPressure DESC) as Rank
    FROM training_datasets_main_diabetes
""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("""
    SELECT Age, Pregnancies, BloodPressure, 
           DENSE_RANK() OVER (PARTITION BY Pregnancies ORDER BY BloodPressure DESC) as DenseRank
    FROM training_datasets_main_diabetes
""")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("CREATE TABLE stu1 (no INTEGER,name TEXT NOT NULL,school VARCHAR(20)) ")

In [ ]:
a=input()
b=input()
c=input()
query="INSERT INTO stu1 (no,name,school) VALUES (%s,%s,%s)"
mycursor.execute(query,(a,None,c))
mydb.commit()

In [ ]:
mycursor.execute("CREATE TABLE u (no INTEGER,name TEXT UNIQUE,school VARCHAR(20),age INT CHECK(age<18))")

In [ ]:
a=input()
b=input()
c=input()
d=input()
query="INSERT INTO u (no,name,school,age) VALUES (%s,%s,%s,%s)"
mycursor.execute(query,(a,b,c,d))
mydb.commit()
#duplicate entry error

In [ ]:
mycursor.execute("CREATE TABLE aadhardetails (name VARCHAR(30),ADDRESS VARCHAR(20),AADHARID INTEGER PRIMARY KEY)")
mycursor.execute("INSERT INTO aadhardetails (name,address,aadharid) VALUES('netthaji','coimbatore',22345678)")
mydb.commit()

In [ ]:
mycursor.execute("CREATE TABLE bankacc(name VARCHAR(20),type VARCHAR(2),accno INT PRIMARY KEY,aadhar INT ,FOREIGN KEY (aadhar)REFERENCES aadhardetails(aadharid))")

In [ ]:
mycursor.execute("INSERT INTO bankacc (name,type,accno,aadhar) VALUES('nethaji','fd',2234451,22345678)")
mydb.commit()

In [ ]:
mycursor.execute("CREATE TABLE students(ID INT PRIMARY KEY,NAME VARCHAR(20),PH INT) ")
mycursor.execute("INSERT INTO students (ID,NAME,PH) VALUES(1,'nethaji',12345)")

mycursor.execute("INSERT INTO students (ID,NAME,PH) VALUES(2,'nirmal',123456)")

mydb.commit()

In [ ]:
mycursor.execute("CREATE TABLE marks(ID INT ,maths int,phy INT,chem INT) ")
mydb.commit()

In [25]:
mycursor.execute("INSERT INTO marks (ID,maths,phy,chem) VALUES(1,91,81,50)")
mydb.commit()

In [26]:
mycursor.execute("SELECT students.ID,marks.maths,marks.phy \
FROM students \
INNER JOIN marks ON students.ID = marks.ID")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out, tablefmt='psql'))

+---+----+----+
| 1 | 91 | 81 |
+---+----+----+